 /* basis content */
 .basic-content {
   background-color: #777373;
   color: #ffffff;
   font-family: 'Jost', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  color: #000000;
}

li a {
  display: block;
  color: #ffffff;
  padding: 3px 12px;
  text-decoration: none;
}

.text-fix{
  color: #ffffff !important;
  font-family: 'Jost', sans-serif !important;
}

.navbar-to-content-fix{
  padding-top: 3%;
}

/* Change the link color on hover */

li a:hover {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

/* navbar */

nav ul{
  margin: 0%;
  padding: 0%;
  list-style: none;
  position: relative;

}

nav li{
  display: inline-block;
}

nav a{
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: .75em 1.75em;
}

/* navbar basic styling */
.navbar-background-color {
  background-color: #0D0E29 ;
}

.no-padding {
  padding-top: 20px;
}

.navbar-fontsize {
  font-size: 17px;
}

.nav {
  display: inline-block;
}

.brand-logo {
  height: 60px;
  padding-left: 145px;
  padding-right: 0%;
}
.nav-profile
{
  
  padding-bottom: 1px;
  font-size: 14px;
  color: #ffffff !important;
}

.icon-button {     
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  width: 40px;       
}

.dropdown-content{
  background-color: #0D0E29;
  color: #FFFFFF;
}

.search-width{
  width: 50% !important;
}

/* merch-dropdown */
li a, .dropbtn {
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: #FFFFFF;
  background-color: #0D0E29;
  min-width: 160px;
}

.dropdown-width{
  width: 90%;
}

.category-style{
  color: #FFFFFF;
  padding-right: 100%;
}

/* informatie */

.container_info {
  padding-right: 0px;
    padding-left: 0px;
}

.card_info {
  padding-right: 0px;
}

/* login dropdown */

.login-dropdown{
  width: 250px;
}

.navbar-login {
  font-size: 12px;
}

/* logout */
.logout-border{
  background-color: transparent;
  width: 35px;
  border: none;
  margin: 0%;
  padding: 0px;
}
.logout-image{
  width: 100%;
  padding: 0px;
}

.logout-padding{
  padding: 0px;
  width: 100%;
}


/* winkelmand-navbar */
.winkelmand-style{
  width: 35px;
}

.winkelmand-border{
  width: 75px;
}


#cart_count{
  text-align: center;
  padding: 0 0.9rem 0.1rem 0.9rem;
  border-radius: 3rem;
}
/* winkelmand */ 


.card2{
  background-color: #F6F6F6;
  color: #000000;
}

.winkelmand{
  margin: 1% 7%;
}


/* footer */
.footer-top
{
   padding-top: 20px;
}

.footer-copyright 
{
  background-color: #09091c;
   padding-top: 10px;
}

.hreffix
{
  color: #FFFFFF;
}

.footer-line 
{
  background-color: #FFFFFF;
  color: #FFFFFF;
}

.footer-text
{
   color:#FFFFFF;
}

/* Registratie */

.registratie-margin-top {
    margin-top: 50px;
}

.registratie-margin-bottom {
    margin-bottom: 50px;
}

.registratie-color1 
{
   background-color: #0D0E29;
}

/*footer */

.footer_background
{
   background-color: #0D0E29;
}

/* home */

.home_hr
{
   background-color: #0D0E29;
   color: #0D0E29;
}

.dark_blue 
{
  background-color: #0D0E29;
  color: #0D0E29;
}


/* webshop-cards */
.card-webshop{
  color: #000000;
  background-color: #f6f6f6;
  margin-bottom: 9%;
}

.card-grootte{
  height: 90px;

}

.btn-placement{
  text-align: left;
}


.price-placement{
  text-align: left;
}

.image-styling{
  max-width: 100%;
  height: auto;
}
.name-padding{
  max-height: 3%;
  min-height: 50px;
}
